[submodule "libs/AdvancedTween"]
	path = libs/AdvancedTween
	url = https://github.com/nofairTCM/Lib-AdvancedTween
[submodule "libs/MaterialUI"]
	path = libs/MaterialUI
	url = https://github.com/nofairTCM/Lib-MaterialUI
